<div  class="box-body">
  <div class="card card-outline card-danger">
    <div class="card-body">
      <%= simple_form_for :q, url: @url, html: {method: :get} do |f| %>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <label>Nome</label>
            <%= f.input :name_cont, required: false, label: false %>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <label>CPF</label>
            <%= f.input :cpf_cont, required: false, label: false %>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <label>Cidade</label>
            <%= f.input :city_cont, required: false, label: false %>
          </div>
        </div>
        <p>
        <div class="col-12"></div>
        <%= f.submit "Pesquisar", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div class="box-body">
  <div class="row">
    <!-- Card para a quantidade total de clientes -->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card card-outline card-primary">
        <div class="card-header with-border">
          <h5 class="card-title"><strong>Total de Clientes</strong></h5>
        </div>
        <div class="card-body">
          <p id="total_clients">Carregando...</p>
        </div>
      </div>
    </div>

    <!-- Card para clientes com telefone duplicado -->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card card-outline card-warning">
        <div class="card-header with-border">
          <h5 class="card-title"><strong>Clientes com Telefone Duplicado</strong></h5>
        </div>
        <div class="card-body">
          <ul id="duplicate_phones">
            <p id="duplicate_phones">Carregando...</p>
          </ul>
        </div>
      </div>
    </div>

    <!-- Card para quantidade de clientes por estado -->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card card-outline card-success">
        <div class="card-header with-border">
          <h5 class="card-title"><strong>Clientes por Estado</strong></h5>
        </div>
        <div class="card-body">
          <ul id="clients_by_state">
            <p id="clients_by_state">Carregando...</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div  class="box-body">
  <div class="card card-outline card-danger">
    <div class="card-header with-border">
      <h5 class="card-title">
        <strong>
          <i class="fa fa-list"></i>
          Pessoas
        </strong>
      </h3>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped bootstrap-table-paginated">
            <thead>
              <tr>
                <th class='text-left'>Nome</th>
                <th class='text-left'>Endereço</th>
                <th class='text-left'>Cidade</th>
                <th class='text-left'>Estado</th>
                <th class='text-left'>CEP</th>
                <th class='text-left'>Telefone</th>
                <th class='text-left'>CPF</th>
                <% if user_signed_in? %>
                  <th class='text-left'>Acões</th>
                <% end %>
              </tr>
            </thead>
          <tbody>
            <% @clients.each do |client| %>
              <tr>
                <td><%= client.name %></td>
                <td><%= client.address %></td>
                <td><%= client.city %></td>
                <td><%= client.state %></td>
                <td><%= client.zip_code %></td>
                <td><%= client.phone %></td>
                <td><%= client.cpf %></td>
                <% if user_signed_in? %>
                  <td class='text-center'>
                    <%= render 'shared/action_links', object: client %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card-footer">
      <% if user_signed_in? %>
        <%= link_to 'Cadastrar', new_client_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
