<div class="card-header with-border">
  <div class="form-group">
    <%= simple_form_for @client_file, multipart: true do |f| %>
      <div class='row'>
        <%= f.input :file, as: :file, label: (@client_file.file? ? 'Arquivo já selecionado' : 'Arquivo'), wrapper_html: {class: "col-sm-3"} %>
        <%= f.input :month, as: :select, collection: (2020..Date.today.year + 1).to_a.collect {|d| [d, d]}, placeholder: 'Ano', wrapper_html: {class: "col-sm-2"} %>
        <%= f.input :year, placeholder: 'Mês', wrapper_html: {class: "col-sm-3"} %>
        <%= f.input :file_cache, as: :hidden %>
      </div><p>

  <% if @client_file.clients.any? %>
    <h3>Pessoas importadas</h3>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th colspan="22" class="text-center">Detalhes de Pessoa</th>
            </tr>
            <tr>
              <th style="width: 10px">#</th>
              <th class="text-center align-middle">Nome</th>
              <th class="text-center align-middle"">Endereço</th>
              <th class="text-center align-middle"">Cidade</th>
              <th class="text-center align-middle"">Estado</th>
              <th class="text-center align-middle"">CEP</th>
              <th class="text-center align-middle"">Telefone</th>
              <th class="text-center align-middle"">CPF</th>
            </tr>
          </thead>
          <tbody class="todo-list">
            <%= f.simple_fields_for :clients do |v| %>
              <%= render 'client_fields', f: v %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div><p>

    <table class="table table-bordered table-hover">
      <% if @client_file.clients.any? %>
        <div class="form-group">
          <div class="col-lg-15">
            <%= link_to_add_association f, :clients, class: 'btn btn-primary pull-right', data: { association_insertion_node: '.todo-list', association_insertion_method: 'append' } do %>
              <i class='fa fa-plus'></i> Adicionar Item
            <% end %>
          </div>
        </div><p>
      <% end %>
    </table>

  <div class="form-group">
    <%= link_to 'Cancelar', client_files_path, class: "btn btn-default" %>
    <%= f.submit (@client_file.clients.any? ? 'Salvar' : 'Importar Arquivo'), class: "float-left btn btn-danger" %>
  </div>
</div>
<% end %>
