<div  class="box-body">
  <div class="card card-outline card-danger">
    <div class="card-body">
      <%= simple_form_for :q, url: @url, html: {method: :get} do |f| %>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <label>Ano</label>
            <%= f.input :year_eq, required: false, label: false %>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <label>Mês</label>
            <%= f.input :month_eq, required: false, label: false %>
          </div>
        </div>
        <p>
        <div class="col-12"></div>
        <%= f.submit "Pesquisar", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div  class="box-body">
  <div class="card card-outline card-danger">
    <div class="card-header with-border">
      <h5 class="card-title">
        <strong>
          <i class="fa fa-users"></i>
          Listagem de clientes importados
        </strong>
      </h3>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped bootstrap-table-paginated">
            <thead>
              <tr>
                <th>Ano</th>
                <th>Mês</th>
                <th>Arquivo</th>
                <th>Criação</th>
                <th class='text-center' data-width="100px">Ações</th>
              </tr>
            </thead>
          <tbody>
            <% @client_files.each do |client| %>
              <tr>
                <td><%= client.year %></td>
                <td><%= client.month %></td>
                <td>
                  <%= link_to client.file.url, class: 'd-inline-block text-truncate', style: "max-width: 300px;" do %>
                    <%= client.file %>
                  <% end %>
                </td>
                <td><%= format_datetime(client.created_at) %></td>
                <td class='text-center'>
                  <%= render 'shared/action_links', object: client %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card-footer">
      <%= link_to 'Importar', new_client_file_path, class: "btn btn-primary mr-2" %>
    </div>
  </div>
</div>
