<div  class="box-body">
  <div class="card card-outline card-danger">
    <div class="card-body">
      <%= simple_form_for :q, url: @url, html: {method: :get} do |f| %>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <label>Nome</label>
            <%= f.input :name_cont, required: false, label: false %>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <label>Data de início</label>
            <%= f.input :start_time_cont, required: false, label: false %>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <label>Data de fim</label>
            <%= f.input :end_time_cont, required: false, label: false %>
          </div>
        </div>
        <p>
        <div class="col-12"></div>
        <%= f.submit "Pesquisar", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div  class="box-body">
  <div class="card card-outline card-danger">
    <div class="card-header with-border">
      <h5 class="card-title">
        <strong>
          <i class="fa fa-list"></i>
          Pessoas
        </strong>
      </h3>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped bootstrap-table-paginated">
            <thead>
              <tr>
                <th class='text-left'>Nome</th>
                <th class='text-left'>Data de início</th>
                <th class='text-left'>Data de fim</th>
                <th class='text-left'>Acões</th>
              </tr>
            </thead>
          <tbody>
            <% @appointments.each do |appointment| %>
              <tr>
                <td><%= appointment.name %></td>
                <td><%= appointment.start_time %></td>
                <td><%= appointment.end_time %></td>
                <td class='text-center'>
                  <%= render 'shared/action_links', object: appointment %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card-footer">
      <%= link_to 'Cadastrar', new_appointment_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
